$font-family-base: 'Lato', sans-serif;
$headings-font-family: 'DM Sans', sans-serif;
$headings-font-weight: 700;
$headerTitle-color: #D04F4F;
$headings-color: $headerTitle-color;
$select-ingredients-bg: #3282F7;
$select-appareil-bg: #68D9A4;
$select-ustensiles-bg: #ED6454;
$white: #fff;
$form-select-indicator-color:  #fff;