@import "variables";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

.logo {
    margin-top: 1em;

    &_img {
        width: 50px;
    }
}

.searchBar {
    display: flex;
    justify-content: center;

    input {
        width: 100%;
        height: 4.3125em;
        background: #E7E7E7;
        border-radius: 5px;
        color: #000000;
        padding: 1em;
        border: none;
    }

    input::placeholder {
        opacity: 0.25; /*Change the opacity between 0 and 1*/
   }

    i {
        position: absolute;
        top: 5.2em;
        right: 4.1em;
        font-size: 2rem;
    }
}

.filter {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin: 0.5rem 0 1rem;
}

.tagsSelected {
    display: flex;
    flex-direction: row;

    
    .tag {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-width: 107px;
        height: 37px;
        padding: 1em;
        margin: 1rem 1rem 0.5rem 0;
        border-radius: 5px;

        p {
            color: #fff;
            margin: 0;
        }

        i {
            color: #fff;
            cursor: pointer;
            position: relative;
            right: -6%;
        }
    }
}



.select-ingredients-btn, .select-appareil-btn, .select-ustensiles-btn  {
    cursor: pointer;
    font-size: 18px;
    color: white;
    width: 170px;
    height: 69px;
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0.5rem 1rem 0.5rem 0;

    p {
        margin: 0;
    }

    em {
        position: relative;
    }
}

.select-ingredients-btn, .select-ingredients-selected {
    background-color: $select-ingredients-bg;
}

.select-appareil-btn, .select-appareil-selected {
    background-color: $select-appareil-bg;
}

.select-ustensiles-btn, .select-ustensiles-selected {
    background-color: $select-ustensiles-bg;
}

.select-ingredients-selected, .select-appareil-selected, .select-ustensiles-selected {
    font-size: 18px;
    padding: 1em;
    color: white;
    width: 35rem;
    border: none;
    border-radius: 5px;
    display: none;
    flex-direction: column;
    position: absolute;
    z-index: 10;
    top: 15rem;


    input {
        background: none;
        border: none;
        opacity: 0.5;
        color: #fff;
        margin-bottom: 2rem;
    }
}

#close-ingredients-filter, #close-appareil-filter, #close-ustensiles-filter {
    position: absolute;
    right: 2rem;
    top: 1.5rem;
}

.ingredients-list, .appareil-list, .ustensiles-list {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: 1fr;
    gap: 0.5rem;
    list-style: none;
    padding: 0;

    li {
        font-size: 18px;
        cursor: pointer;
        width: fit-content;
        // text-transform: capitalize;
    }

}

.errorMessage {
    display: none;
    text-align: center;
    background: #D04F4F;
    color: white;
    padding: 1em;
    border-radius: 5px;

    p {
        margin: 0;
    }
}

.recipes {
    gap: 3rem 3rem;
    padding-left: 0.75rem;
}

.card {
    padding: 0;
    background: #E7E7E7;
    width: 380px;

    .card-top {
        background: #C7BEBE;
        width: 100%;
        height: 178px;
        padding: 0;
    }

    .card-body {
        display: flex;
        flex-direction: column;

        h5 {
            color: black;
            font-family: 'Lato';
            font-weight: 400;
            font-size: 18px;
        }

        p {
            font-size: 12px;
        }

        &-top {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            &-time {
                display: flex;
                align-items: flex-start;

                img {
                    width: 20px;
                }

                p {
                    font-size: 18px;
                    font-weight: 700;
                    margin-top: -2px;
                    margin-left: 0.5rem;
                }
            }
        }

        &-bottom {
            display: flex;
            
            &-ingredients {
                width: 48%;
                margin-right: 1em;

                p {
                   font-size: 12px;
                   margin: 0;
                }

            }

            &-description {
                width: 48%;

                p {
                    font-family: 'Roboto';
                    font-size: 12px;
                    margin: 0;
                    -webkit-line-clamp: 7;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                }
            }
        }

        
    }
}

@media (min-width: 1600px) {
    .searchBar i {
        right: 10.1em;
    }
}

@media (max-width: 400px) {

    .searchBar i {
        top: 4.75em;
        right: 1em;
    }

    .filter {
        width: 5rem;
        flex-direction: column;
    }

    .select-ingredients-selected, .select-appareil-selected, .select-ustensiles-selected {
        width: 21rem;
    }

    .ingredients-list, .appareil-list, .ustensiles-list {
        grid-template-columns: repeat(2, 2fr);
    }

    .recipes {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .card {
        width: 21rem;
    }
    
}